@page "/fetchdata"
@using BlazorApp_WASM.Dtos
@*@inject HttpClient Http
*@
<PageTitle>Lista de TREs habilitados</PageTitle>

<h1>Lista de TREs habilitados</h1>

<p>Aqui mostrare la data como prueba para el componente final.</p>

@if (dataFromDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>codigo_tipo_tre</th>
                <th>Descripción</th>
                <th>Habilitado?</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in dataFromDto)
            {
                <tr>
                    <td>@dto.codigoTipoTre</td>
                    <td>@dto.descripcion</td>
                    <td>@dto.habilitado</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    
    
}
