@page "/TreHabilitados"
@using Modelos
@using Dtos

<h3>Gestión de TREs de Privilegios habilitados</h3>

<div class="form-group">

<table class="table">
        <thead>
            <tr>
                <th>Nombres</th>
                <th></th>
                <th>Habilitado</th>
            </tr>
        </thead>
        <tbody>
           @* @foreach (var tre_habilitado in tres.tre_habilitados)
            {
                <tr>
                    <td>@tre_habilitado.descripcion</td>
                    <td></td>
                    <td>@tre_habilitado.habilitado</td>
                </tr>
            }*@
        </tbody>
    </table>

</div>



@code {
    //private LaunchDto[] tresHabilitados;

    //protect3d override async Task OnInitializeAsync()
    //{
    //    tresHabilitados = await HttpClient.GetFromJsonAsync<LaunchDto[]>()
    //}

}